header {
  background-color: #4c2676;
  color: white;
}

body {
  background-color: lightgray;
}

#placeholder-image-square {
  width: 300px;
}

button {
  border-radius: 30px;
  background-color: #4c2676;
  color: white;
}

label {
  display: block;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

#notes {
  width: 100%;
}

.navbar {
  color: white;
  justify-content: space-between;
}

.new-button {
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #4c2676;
  padding: 15px;
}

img {
  width: 100%;
}

.new-button-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.code-journal {
  font-size: 30px;
}

.fa-solid.fa-pencil {
  display: flex;
  justify-content: flex-end;
}

.entry-list {
  list-style-type: none;
}
